@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

@layer components {
  .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @layer base {
  @font-face {
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/SourceCodePro-Regular.ttf) format('truetype');
  }
} */
